*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
  font-family: 'Concert One', cursive;

}

.contain{
     width: 1300px;
    margin:0 auto; 
}
button{
      color:white;
    padding: 15px 32px;
    border:none;
    text-align: center;
    font-size: 16px;
    background-color: rgb(208,95,97);
    
}
/* header */
header{
    background-color: rgb(43,62,79);
   
  
    width: 100%;
    
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background: red;
    border: 1px solid transparent;
    border-radius: .25rem;
      background-color: rgb(43,62,79); 
}
.logo{
    padding-top: 15px;
  
}
.logo h3{
    color: white;
    display: inline;
     font-family: 'Pacifico', cursive;
}
.logo p{
    color:rgb(97,115,127);
    display: inline;
}


.bg-light{
      background-color: rgb(43,62,79) !important; 
}
.collapse, .navbar-collapse{
      background-color: rgb(43,62,79); 
} 
.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 20px;
    padding-left: 20px;
}
.navbar-light:hover .navbar-nav:hover .nav-link:hover {
   font-size: 19px;

}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: white;}
/* /header */
/* home */
.home h1{
    text-align: center;
    color:deepskyblue;
    
   
}

.home-text{
     color: cadetblue;
    text-align:justify;
    float:left;
    width: 100%;
}
#home-button1{
    background-color: rgb(117,197,208);
    width: 100%;
          -webkit-box-shadow: 5px 5px 10px #999;
    -moz-box-shadow: 5px 5px 10px #999;
    -o-box-shadow: 5px 5px 10px #999;
    box-shadow: 5px 5px 10px #999;
}
#home-button2{
   background-color: rgb(111,193,145) ;
      width: 100%;
           -webkit-box-shadow: 5px 5px 10px #999;
    -moz-box-shadow: 5px 5px 10px #999;
    -o-box-shadow: 5px 5px 10px #999;
    box-shadow: 5px 5px 10px #999;
}
#home-button3{
   width: 100%;
    background-color: rgb(237,190,72);
           -webkit-box-shadow: 5px 5px 10px #999;
    -moz-box-shadow: 5px 5px 10px #999;
    -o-box-shadow: 5px 5px 10px #999;
    box-shadow: 5px 5px 10px #999;
}
#home-button4{
    background-color: rgb(237,127,104);
    width: 100%;
           -webkit-box-shadow: 5px 5px 10px #999;
    -moz-box-shadow: 5px 5px 10px #999;
    -o-box-shadow: 5px 5px 10px #999;
    box-shadow: 5px 5px 10px #999;
}

/* /home */
.about-img2 img,.about-img1 img,.home-img img,.blog-img img,.contact-img img{
     -webkit-box-shadow: 5px 5px 10px #353533;
        -moz-box-shadow: 5px 5px 10px #353533;
    -o-box-shadow: 5px 5px 10px #353533;
    box-shadow: 5px 5px 10px #353533;
}
/* about */
.about{
     background-color: gold;
    margin-top: 15px;
    padding-bottom: 20px;
    
}
.about h1{
    text-align: center;
    color: brown;
    
}
.about-img2{
    text-align: right;
}
.about-text{
    text-align: justify;
    color: black;
    float: left;
    width: 100%;
   
}
/* /about */
/* services */
.sevices{
    margin-top: 10px;
    margin-bottom: 10px;
}
.services h1{
    text-align: center;
    color:firebrick;
  
}
.ser-img1 h3{

    color:orange;
    
    
}
.ser-img2 h3{

    color:burlywood;
     
}
.ser-img3 h3{

    color:darkblue;
     
}
.ser-img4 h3{

    color:darkcyan;
    
}
.ser-img5 h3{

    color:black;
     
}
.ser-img6 h3{

    color:cadetblue;
    
}

.ser-img1 , .ser-img4 {
    
    padding-bottom: 50px;
   
}
.ser-img2 , .ser-img5 {
    text-align: center;
    padding-bottom: 50px;
   
}
.ser-img3 , .ser-img6 {
    text-align: right;
    padding-bottom: 50px;
}


.ser-img1 img,.ser-img2 img,.ser-img3 img,.ser-img4 img,.ser-img5 img,.ser-img6 img{
           -webkit-box-shadow: 5px 5px 10px #999;
    -moz-box-shadow: 5px 5px 10px #999;
    -o-box-shadow: 5px 5px 10px #999;
    box-shadow: 5px 5px 10px #999;
    filter: brightness(70%);
}
.ser-img1 img:hover,.ser-img2 img:hover,.ser-img3 img:hover,.ser-img4 img:hover,.ser-img5 img:hover,.ser-img6 img:hover{
    
   filter: brightness(100%);
}
/* blog */
.blog{
      margin-top: 15px;
    
    padding-bottom: 15px;
      background-color:#1fc675; 
 
  
}
.blog h1{
    text-align: center;
   color:springgreen;
   
}
.blog-text{
       text-align: justify;
    color: white;
    float: left;
    width: 100%;
        
}
/* /blog */
/* link */
.c{
  border-radius: 50%;
}
.link h1{
    color: palevioletred;
    text-align: center;

}
.link{
    padding-bottom: 15px;
}
.link-img1 h3{
    color: mediumpurple;
    padding-left: 50px;
}
.link-img2 h3{
   color:coral;
}
.link-img3 h3{
  color:indianred;
   padding-right: 65px; 
}
.link-img1{
    text-align: left;
    padding-bottom: 20px;
}
.link-img2{
    text-align: center;
    padding-bottom: 20px;
}
.link-img3{
    text-align: right;
   
    padding-bottom: 20px;
}
.link-img1 img,.link-img2 img,.link-img3 img{
               -webkit-box-shadow: 5px 5px 10px #999;
    -moz-box-shadow: 5px 5px 10px #999;
    -o-box-shadow: 5px 5px 10px #999;
    box-shadow: 5px 5px 10px #999;
    filter: brightness(70%) blur(2px);
}
.link-img1 img:hover,.link-img2 img:hover,.link-img3 img:hover{
    filter:none;
}
/* /link */
/* contact */

.contact{
    background-color: rgb(73,201,176);
    padding-bottom: 15px;
}
.contact-text{
   
    text-align: center;
    
}
.contact h1{
    text-align: center;
    color:rgb(222,174,76);
        
    
}
#contact-button{
    width: 100%;
     -webkit-box-shadow: 5px 5px 10px #353533;
        -moz-box-shadow: 5px 5px 10px #353533;
    -o-box-shadow: 5px 5px 10px #353533;
    box-shadow: 5px 5px 10px #353533;  
}
input{
       background-color: rgb(63,183,158);
    color:white;
    padding: 15px 32px;
    border:none;
    text-align: center;
    font-size: 16px;
       -webkit-box-shadow: 5px 5px 10px #353533;
        -moz-box-shadow: 5px 5px 10px #353533;
    -o-box-shadow: 5px 5px 10px #353533;
    box-shadow: 5px 5px 10px #353533;
}

/* / contact */
footer{
    background-color: rgb(47,80,113);
    color: white;
    text-align: center;
    padding: 20px;
}




